.nav{
    background-color: black;
    color: white;
}

.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.item{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: all 0.3s ease;
}

.item:hover{
    color: black;
    background-color: white;
}