input[type="text"], select, label{
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.formContainer{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label{
    margin-top: 10px;
}

.preview{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

input[type="text"], select{
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
}

.btnPicture{
font-size: 1.5rem;
font-weight: bold;
border: none;
border-radius: 3px;
padding: 10px;
width: 100%;
background-color: rgb(8, 117, 219);
color: white;
cursor: pointer;
transition: all .3s ease;
}

.btnPicture:hover{
    background-color: rgb(14, 88, 158);
}

.btnSubmit{
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 10px;
    width: 75%;
    margin: 0 auto;
    background-color: rgb(8, 190, 136);
    color: white;
    cursor: pointer;
    transition: all .3s ease;
}

.btnSubmit:hover{
    background-color: rgb(8, 112, 81);
}
